<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chaya.bontact">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="com.example.chaya.bontact.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.chaya.bontact.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/bontact_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Ui.Activities.LoginActivity"
            android:label="@string/login_title"
            android:noHistory="true" />
        <activity
            android:name=".Ui.Activities.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ui.Activities.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ui.Activities.InnerConversationActivity"
            android:label="@string/title_inner_conversation" />

        <provider
            android:name=".Data.InboxProvider"
            android:authorities="com.example.chaya.bontact.Data.InboxProvider" />
        <provider
            android:name=".Data.InnerConversationProvider"
            android:authorities="com.example.chaya.bontact.Data.InnerConversationProvider" />

        <service
            android:name=".Services.RegisterGcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".Services.GCMPushReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.gnirt69.gcmexample" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Ui.Activities.TabsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Ui.Dialogs.EmailDialogActivity" />

        <activity android:name=".Ui.Activities.SettingsActivity"></activity>
    </application>

</manifest>