<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chaya.bontact">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/bontact_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity android:name=".Ui.Activities.MainActivity"
            android:label="@string/login_title"
            android:noHistory="true" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Ui.Activities.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar"
          >
        </activity>

        <provider
            android:name=".Data.InboxProvider"
            android:authorities="com.example.chaya.bontact.Data.InboxProvider" />
        <provider
            android:name=".Data.InnerConversationProvider"
            android:authorities="com.example.chaya.bontact.Data.InnerConversationProvider" />

        <activity android:name=".Ui.Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Ui.Activities.InnerConversationActivity"
            android:label="@string/title_inner_conversation">

        </activity>
    </application>

</manifest>